<form action="{{ path('news_search') }}" method="get" id="form-search">
    <div class="form-group">
        <input name="q" type="text" class="form-control search-field" placeholder="{{ 'post.search_for'|trans }}" autocomplete="off">
    </div>
</form>