<div class="row project-hot">
    <div class="col-md-12 title-list-news-items">
        <h1 class="text-center text-uppercase">Dự án nổi bật</h1>
        <span class="text-center block-underline"></span>
    </div>
    <div class="clearfix"></div>
    <div class="list-news-items">
        <div class="row bxslider">
            {% for row in posts %}
                {{ include('news/components/itemsGrid.html.twig') }}
            {% endfor %}
        </div>
    </div>
</div>