/* Basic styles
------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    &:before, &:after {
        box-sizing: inherit;
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-family: $openSans;
    font-size: 16px;
    color: $black;
    background: $gray94;
    padding: 0;
    margin: 0;
    line-height: 1.7;
}

.container-fluid {
    width: 100%;
    padding: 0;
}

.wrapper-container {
    padding-bottom: 50px;
    background: $white;
}

.td-wrapper {
    padding-bottom: 50px;
}

header, nav, section, article, figure, aside, footer {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    line-height: 1.4;
    font-family: $openSans;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $black;
    @include transition(0.1s);
    outline: none;
    
    &:hover,
    &:focus {
        outline: 0;
        color: $primaryColor;
        text-decoration: underline;
    }
}

p {
    margin: 0 0 14px 0;
}

ul,
ol {
    padding-left: 15px;

    li {
        margin-bottom: 0.5em
    }
}

i {
    margin-right: 0.25em
}

.table.table-middle-aligned th,
.table.table-middle-aligned td {
    vertical-align: middle;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}