.breadcrumbs {
    &.type-category {
        height: 235px;
        color: $white;
        background-image: url("../../assets/images/background-breadcrumb.jpg");

        .breadcrumb {
            li {
                a {
                    color: $white;
                }
            }
        }
    }

    .breadcrumb {
        padding: 8px 0px;
        margin-top: 15px;
        margin-bottom: 5px;
        background: none;

        li {
            margin-bottom: 0em;
    
            &:before {
                color: $mercury;
            }
    
            a {
                color: $black;
            }
        }
    }

    .description {
        width: 70%;
    }
}