.breadcrumbs {
    .container {
        position: relative;
        z-index: 1;
    }

    .breadcrumb {
        padding: 8px 0px;
        margin-top: 15px;
        margin-bottom: 5px;
        background: none;

        @media only screen and (max-width: 767.98px) {
            margin: 5px 0;
        }

        li {
            margin-bottom: 0em;

            &:before {
                color: $mercury;
            }

            a {
                color: $black;
            }
        }
    }

    h1.title {
        line-height: 1.1;
    }

    .description {
        width: 70%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

.type-category {
    color: $black;
    position: relative;

    &:after {
        content : "";
        background-image: url("../../assets/images/background-breadcrumb.jpg");
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .breadcrumb {
        li {
            &:before {
                color: $black;
            }

            a {
                color: $black;
            }
        }
    }
}