$white: #ffffff;
$gray94: #F9F9F9;
$black: #000000;
$mercury: #e2e2e2;
$red: #FF0000;
$chambray: #3C5A98;
$chathamsBlue: #184575;
$mineShaft: #222222;
$gallery: #ededed;
$geyser: #DBE0E8;
$primaryColor: #184575;
$killarney: #356649;
$fadedJade: #3C746B;