footer {
    border-top: 5px solid $chathamsBlue;
    padding-top: 30px;
    position: relative;

    &:after {
        content : "";
        background: url("../../assets/images/background_construction.jpg") repeat-y center center;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .footer-top {
        .about-us {
            li a {
                font-weight: bold;
            }
        }

        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;

                i {
                    color: $primaryColor;
                }
            }
        }
    }

    .footer-middle {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $gray94;

        .footer-text-wrap {
            p {
                text-align: justify;
                margin-bottom: 5px;
            }
        }

        .td-social-icon-wrap {
            display: inline-block;
            margin: 5px 5px 5px 0;
            
            a {
                i {
                    font-size: 14px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid #dadada;
                    position: relative;
                    color: $primaryColor;
                }
            }
        }
    }

    .keyword {
        padding-left: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border: 1px solid $primaryColor;
            margin: 0 0 10px 0;
            padding: 0 10px;
        }
    }

    .copyright {
        height: 30px;
        line-height: 30px;
        color: $black;

        p, a {
            color: $black;
            font-size: 15px;
            margin-bottom: 0;

            @media (max-width: 767.98px) {
                font-size: 13px;
            }
        }
    }
}