footer {
    background: $white;
    border-top: 3px solid $chathamsBlue;
    padding-top: 30px;

    .footer-top {
        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;                
            }
        }
    }

    .copyright {
        height: 40px;
        line-height: 40px;
        background: $chathamsBlue;
        color: $white;

        p, a {
            color: $white;
            font-size: 15px;
            margin-bottom: 0;

            @media (max-width: 767.98px) {
                font-size: 13px;
            }
        }
    }
}