footer {
    background: $white;
    border-top: 3px solid $chathamsBlue;
    padding-top: 30px;

    .footer-top {
        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;                
            }
        }
    }

    .keyword {
        padding-left: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border: 1px solid $mercury;
            margin: 0 0 10px 0;
            padding: 0 10px;
        }
    }

    .copyright {
        height: 30px;
        line-height: 30px;
        background: $chathamsBlue;
        color: $white;

        p, a {
            color: $white;
            font-size: 15px;
            margin-bottom: 0;

            @media (max-width: 767.98px) {
                font-size: 13px;
            }
        }
    }
}