.header {
    padding: 0;
    background: #353535;
    color: $white;
    height: 38px;

    .col-md-6 {
        span {
            line-height: 38px;
            font-size: 14px;
            margin-right: 10px;

            @media only screen and (max-width: 767.98px) {
                font-size: 14px;
            }
        }

        a {
            color: $white;
            line-height: 38px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .header-social {
        a {
            padding: 0 5px;
        }
    }
}