.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 85px;
    right: 19px;
    width: 35px;
    height: 35px;
    background-color: $chathamsBlue;
    z-index: 100;

    i {
        position: relative;
        color: $white;
        font-size: 20px;
        display: block;
        text-align: center;
        width: 35px;
        top: 7px;
    }
}

.hotline {
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    background-color: $chathamsBlue;
    color: $white;
    z-index: 100;
    font-family: $robotoCondesed;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 15px;
    font-weight: bold;

    a {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}

.hotline {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: tada_keyframe;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-name: tada_keyframe;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes tada_keyframe {
    0% {
        -webkit-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1)
    }
    10%,
    20% {
        -webkit-transform: translate(0, 0) scale(.9, .9) rotateZ(-3deg);
        transform: translate(0, 0) scale(.9, .9) rotateZ(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(3deg);
        transform: translate(0, 0) scale(1.1, 1.1) rotateZ(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(-3deg);
        transform: translate(0, 0) scale(1.1, 1.1) rotateZ(-3deg)
    }
    100% {
        -webkit-transform: translate(0, 0) scale(1, 1) rotateZ(0);
        transform: translate(0, 0) scale(1, 1) rotateZ(0)
    }
}

@-webkit-keyframes tada_keyframe {
    0% {
        -webkit-transform: translate(0, 0) scale(1, 1)
    }
    10%,
    20% {
        -webkit-transform: translate(0, 0) scale(.9, .9) rotateZ(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: translate(0, 0) scale(1.1, 1.1) rotateZ(-3deg)
    }
    100% {
        -webkit-transform: translate(0, 0) scale(1, 1) rotateZ(0)
    }
}

.floating {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #f37022;

    .inside {
        .call-now,
        .chat-us {
            float: left;
            border-right: 1px dotted $mercury;
            vertical-align: middle;
            color: $white;
            text-align: center;
            padding: 10px 0;
            position: relative;
            font-size: 16px;

            div {
                text-align: center;
                line-height: 24px;
                position: relative;

                i {
                    position: absolute;
                    font-size: 20px;
                    top: 12px;
                    left: 15px;
                }

                span, strong {
                    display: block;
                }
            }
        }

        .chat-us {
            border-right: none;
        }
    }
}

#fb-root > div.fb_dialog.fb_dialog_advanced.fb_customer_chat_bubble_animated_no_badge {
    bottom: 150px !important;
}
.fb-customerchat.fb_invisible_flow.fb_iframe_widget iframe {
    bottom: 130px !important;
    right: 90px !important;
}