#nav {
    .navbar {
        min-height: 40px;
        margin-bottom: 0px;
        background: $chathamsBlue;
        border-radius: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        justify-content: left;

        .navbar-toggler {
            border-color: $white;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }

        .navbar-collapse {
            border-width: 0px;
            box-shadow: none;
        }

        #navbarSupportedContent {
            .navbar-nav {
                .nav-item {
                    margin-bottom: 0;

                    .nav-link {
                        color: $white;
                        padding: 12px 15px;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}