#nav {
    background: $white;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    z-index: 100;

    .navbar {
        background: transparent;
        margin-bottom: 0px;
        border-radius: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        justify-content: left;

        .navbar-header {
            .navbar-brand {
                padding-top: 7px;
                padding-left: 0;

                img {
                    width: 150px;

                    @media only screen and (max-width: 767.98px) {
                        width: 85px;
                    }
                }
            }

            .navbar-toggle {
                border-color: $killarney;

                .icon-bar {
                    background-color: $killarney;
                }
            }
        }

        .navbar-collapse {
            border-width: 0px;
            box-shadow: none;
            padding: 0;

            @media only screen and (max-width: 767.98px) {
                width: 100%;
                float: left !important;
            }

            .navbar-nav {
                @media only screen and (max-width: 767.98px) {
                    margin: 0;
                }
            }

            ul li {
                margin-bottom: 0px;

                &.current {
                    a {
                        padding-bottom: 37px;

                        &::before {
                            content: "";
                            width: 100%;
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            height: 3px;
                            background: $killarney;
                        }
                    }
                }

                a {
                    padding: 40px 10px;
                    color: $black;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 17px;
                    font-family: $robotoCondesed;

                    &:hover {
                        padding-bottom: 37px;

                        &::before {
                            content: "";
                            width: 100%;
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            height: 3px;
                            background: $killarney;
                        }
                    }

                    @media only screen and (max-width: 767.98px) {
                        padding: 10px 10px;
                        font-size: 16px;
                        color: $killarney;
                    }
                }
            }
        }
    }
}