#nav {
    background: $gray94;
    z-index: 10000;

    .nav-container {
        position: relative;

        &::before {
            content: "";
            background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMBAMAAABRpcpkAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMGAhQQCyEd++8AAAAUSURBVAjXY1AAQgMgdABCCBAAQQAT6AFRBPHcWgAAAABJRU5ErkJggg==);
            width: 100%;
            height: 12px;
            position: absolute;
            left: 0;
            bottom: -12px;
            z-index: 1;
        }

        .navbar {
            background: transparent;
            margin-bottom: 0px;
            border-radius: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            justify-content: left;
    
            .navbar-header {
                .navbar-brand {
                    padding-top: 7px;
                    padding-left: 0;

                    @media only screen and (max-width : 768px) {
                        padding-top: 5px;
                    }
    
                    img {
                        width: 150px;
    
                        @media only screen and (max-width : 768px) {
                            width: 90px;
                        }
                    }
                }
    
                .navbar-toggle {
                    border-color: $killarney;
    
                    .icon-bar {
                        background-color: $killarney;
                    }
                }
            }
    
            .navbar-collapse {
                border-width: 0px;
                box-shadow: none;
                padding: 0;
    
                @media only screen and (max-width: 767.98px) {
                    width: 100%;
                    float: left !important;
                }
    
                .navbar-nav {
                    @media only screen and (max-width: 767.98px) {
                        margin: 0;
                    }
                }
    
                ul li {
                    margin-bottom: 0px;
    
                    @media only screen and (min-width: 979.98px) {
                        &.current {
                            &::before {
                                content: "";
                                width: 100%;
                                position: absolute;
                                bottom: 0px;
                                left: 0;
                                height: 3px;
                                background: $killarney;
                                z-index: 10001;
                            }
                        }

                        &:hover {
                            &::before {
                                content: "";
                                width: 100%;
                                position: absolute;
                                bottom: 0px;
                                left: 0;
                                height: 3px;
                                background: $killarney;
                                z-index: 10001;
                            }
                        }
                    }
    
                    a {
                        padding: 40px 10px;
                        color: $killarney;
                        font-weight: 500;
                        font-size: 17px;

                        &:focus, &:hover {
                            background: $gray94;
                        }
    
                        @media only screen and (max-width: 768px) {
                            padding: 10px 10px;
                            font-size: 16px;
                            color: $killarney;
                            border-bottom: 1px dotted $geyser;
                        }
                    }

                    &.open {
                        a {
                            &:focus, &:hover {
                                background: $gray94;
                            }
                        }
                    }

                    &.dropdown {
                        @media only screen and (min-width: 979.98px) {
                            &:hover {
                                .dropdown-menu {
                                    display: block;
                                }
                            }
                        }

                        ul.dropdown-menu {
                            border: none;
                            padding: 0 10px;
                            min-width: 200px;

                            @media only screen and (max-width: 767.98px) {
                                padding: 0 10px 0 30px;
                                min-width: 100%;
                            }
    
                            li {
                                &::before {
                                    content: none;
                                }

                                @media only screen and (min-width: 979.98px) {
                                    border-bottom: 1px dotted $geyser;
                                }

                                &.last {
                                    border-bottom: none;
                                }
    
                                a {
                                    padding: 10px 0;
    
                                    &:focus, &:hover {
                                        background: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 990px) {
                .navbar-header {
                    float: none;
                }

                .navbar-toggle {
                    display: block;
                }

                .navbar-collapse {
                    width: 100%;

                    &.collapse {
                        display: none !important;

                        &.in {
                            display: block !important;
                            max-height: max-content;
                        }
                    }

                    .navbar-nav {
                        float: none!important;
    
                        &>li {
                            float: none;

                            a {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}