.bxslider-wrapper {
    visibility: hidden;
}

.bx-wrapper {
    box-shadow: none;

    .bx-viewport {
        .bxslider {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;

            .item {
                
            }
        }
    }

    .bx-controls.bx-has-controls-auto.bx-has-pager {
        .bx-pager {
            width: 100%;
            text-align: center
        }
    }
}