#sidebar {
    #form-search {
        input {
            border-width: 1px;
            border: 1px solid $mercury;
        }
    }

    .list-group {
        .list-group-item-action {
            background: none;
            font-weight: bold;
            color: $black;
            border: none;
            padding-left: 0px;
            font-size: 20px;
            position: relative;
            border-bottom: 3px solid $mercury;
            margin-bottom: 20px;

            &:before {
                position: absolute;
                bottom: -3px;
                left: 0;
                content: "";
                width: 90px;
                height: 3px;
                background: $primaryColor;
            }
        }

        .td-list-group-item {
            height: 75px;
            color: $black;

            &:hover {
                background: $gray94;
                color: $chathamsBlue;
            }

            img {
                float: left;
                margin-right: 10px;
                border: 1px solid $mercury;
            }

            span {
                line-height: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}