#sidebar {
    border-left: 1px dotted $mercury;

    #form-search {
        input {
            border-width: 1px;
            border: 1px solid $mercury;
        }
    }

    .list-group {
        .support-online {
            font-size: 20px;

            span {
                display: block;
                
                i {
                    color: $lightningYellow;;
                }

                a {
                    color: $red;

                    &:hover {
                        color: $red;
                        text-decoration: none;
                    }
                }
            }
        }


        .list-group-item-action {
            background: none;
            font-weight: bold;
            color: $black;
            border: none;
            padding-left: 0px;
            font-size: 20px;
            position: relative;
            border-bottom: 3px solid $mercury;
            margin-bottom: 20px;

            &:before {
                position: absolute;
                bottom: -3px;
                left: 0;
                content: "";
                width: 100px;
                height: 3px;
                background: $lightningYellow;
            }
        }

        .td-list-group-item {
            margin: 0;
            height: 75px;
            color: $black;
            border: 0;
            border-bottom: 1px solid $lightningYellow;


            &:hover {
                background: $gray94;
            }

            img {
                float: left;
                margin-right: 10px;
                border: 1px solid $mercury;
            }

            span {
                line-height: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    .post-bxslider-wrapper {
        .bx-wrapper {
            border: none;
            margin-bottom: 20px;

            a {
                border-radius: 0;
            }
        }
    }
}