<html>
    <body>
        <p>From: {{ name }}</p>
        <p>Phone: {{ phone }}</p>
        <p>Email: {{ email }}</p>
        <p>Message Body: {{ body }}</p>
        <p>This e-mail was sent from a contact form on [Xây Dựng Minh Duy]</p>
    </body>
</html>