{% extends 'layout.html.twig' %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungxuyenviet.com/",
        "logo": "https://xaydungxuyenviet.com/assets/images/logo.jpg",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84 98 1983379",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungxuyenviet.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungxuyenviet.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Xuyên Việt",
        "url": "https://xaydungxuyenviet.com/",
        "sameAs": [
            "https://www.facebook.com/xuyenvietconstruction/",
            "https://twitter.com/xaydungxuyenviet",
            "https://www.linkedin.com/in/xaydungxuyenviet/",
            "https://plus.google.com/u/0/113879313630849593934",
            "https://www.youtube.com/channel/UCwYmkaoSIRgpZo2Us4FzleQ"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="container wrapper-container">
        <div class="row marketing">
            <div class="col-md-12 title-list-news-items">
                <h1 class="text-center text-uppercase">Vì sao nên chọn chúng tôi</h1>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-balance-scale"></i></span>
                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                <div class="marketing-container">
                    Giá cả xây dựng của chúng tôi hợp lý, rõ ràng từng vấn đề, cạnh tranh
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-key"></i></span>
                <h2 class="media-heading text-uppercase">Cam kết bảo hành</h2>
                <div class="marketing-container">
                    Chúng tôi cam kết bảo hành công trình thi công lâu dài
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-globe"></i></span>
                <h2 class="media-heading text-uppercase">Báo giá miễn phí, tận nơi</h2>
                <div class="marketing-container">
                    Báo giá xây dựng miễn phí, nhanh chóng, tận nơi, làm việc 24/7
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-cogs"></i></span>
                <h2 class="media-heading text-uppercase">Thi công nhanh, đảm bảo</h2>
                <div class="marketing-container">
                    Thi công nhanh chóng, đúng trong hợp đồng, đảm bảo chất lượng
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-cubes"></i></span>
                <h2 class="media-heading text-uppercase">Đội ngũ chuyên nghiệp</h2>
                <div class="marketing-container">
                    Đội ngũ kiến trúc sư, kĩ sư, tổ thợ chuyên nghiệp, nhiều kinh nghiệm
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-bullhorn"></i></span>
                <h2 class="media-heading text-uppercase">Không phát sinh phí</h2>
                <div class="marketing-container">
                    Chúng tôi cam kết không phát sinh phí trong quá trình xây dựng
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-lightbulb-o"></i></span>
                <h2 class="media-heading text-uppercase">Sáng tạo trong thiết kế</h2>
                <div class="marketing-container">
                    Những kỹ sư thiết kế về kiến trúc và nội thất có kinh nghiệm
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <span><i class="fa fa-commenting-o"></i></span>
                <h2 class="media-heading text-uppercase">Tư vấn hỗ trợ tận tình</h2>
                <div class="marketing-container">
                    Sẵn sàng tư vấn hỗ trợ những thắc mắc và vấn đề bạn quan tâm
                </div>
            </div>
        </div>

        {% for blockOnHomepage in blocksOnHomepage %}
            {% if blockOnHomepage.category.getUrl() != 'du-an' %}
                <div class="row">
                    <div class="col-md-12 title-list-news-items">
                        <h1 class="text-center text-uppercase">{{ blockOnHomepage.category.getName() }}</h1>
                    </div>

                    <div class="col-md-12 list-news-items">
                        <div class="row">
                            {% for row in blockOnHomepage.posts %}
                                {{ include('news/components/itemsGridHomepage.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row project-hot">
                    <div class="col-md-12 title-list-news-items">
                        <h1 class="text-center text-uppercase">Dự án nổi bật</h1>
                        <span class="text-center block-underline"></span>
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <div class="list-news-items">
                        <div class="bxslider">
                            {% for row in blockOnHomepage.posts %}
                                {{ include('news/components/itemsGridSlide.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}