// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

@import "~bootswatch/flatly/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/flatly/bootswatch";
@import "~font-awesome/scss/font-awesome.scss";
@import "~highlight.js/styles/solarized-light.css";

@import '~bxslider/dist/jquery.bxslider.css';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';
@import '../../libs/starrating/css/rating.css';

// pick the Lato fonts individually to avoid importing the entire font family
@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

@import "global/fonts";
@import "global/color_variables";
@import "global/base_elements";
@import "global/error";
@import "global/header";
@import "global/menu";
@import "global/partner";
@import "global/sidebar";
@import "global/pagination";
@import "global/breadcrumbs";
@import "global/footer";
@import "global/hotline";
@import "global/costs";

@import "pages/homepage";
@import "pages/news";
@import "pages/contact";