{{ include('admin/common/_delete_post_confirmation.html.twig', { 'id': news.id }) }}

<button type="submit" data-toggle="modal" data-target="#confirmationModal{{news.id}}">
    <i class="fa fa-trash" aria-hidden="true"></i>
</button>
