{{ include('admin/common/_delete_post_confirmation.html.twig', {id: comment.id}) }}

<form action="{{ url('admin_comment_delete', {id: comment.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" data-toggle="modal" data-target="#confirmationModal{{comment.id}}">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
