/** ====================
 * Menu navigation
 =======================*/
.navbar {
	margin-bottom: 10px;
	.navbar-nav li {
		position: relative;
		.dropdown-menu {
			display: none; position: absolute; z-index: 100;
		}
		&:hover {
			.dropdown-menu {
				display: block;
			}
		}
	}
}