/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    .carousel-inner {
        .item {
            img {
                width: 1170px;
                height: 550px;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.marquee {
    background-color: $chathamsBlue;
    color: $white;
    height: 35px;

    marquee {
        line-height: 35px;
        display: flex;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.bang-gia {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(241, 241, 241, 0.5);

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        padding-bottom: 40px;
    }

    .two, .three, .four {
        div {
            background: $chathamsBlue;
            margin-top: 30px;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;

            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                margin-top: 15px;
            }

            a {
                color: $white;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.marketing {
    padding-top: 30px;
    padding-bottom: 30px;

    .col-md-4 {
        margin: 20px 0;
        
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            margin: 5px 0;
        }

        .marketing-company {
            p {
                margin-bottom: 5px;
                font-size: 15px;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    margin-bottom: 10px;
                    font-size: 16px;
                }
            }
        }

        .media {
            .media-left {
                span {
                    display: block;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    background: $chathamsBlue;
                    border-radius: 5px;
    
                    i {
                        margin-top: 25px;
                        margin-right: 0;
                        color: $white;
                    }
                }
            }
    
            .media-body {
                h4 {
                    font-size: 18px;
                    margin-bottom: 3px;
                }
    
                .marketing-container {
                    font-size: 15px;
                }
            }
        }
    }
}

.list-news-items {
    .news-item {
        .media-thumb {
            .img-thumbnail {
                padding: 0px;
                border: 1px solid $primaryColor;
                border-radius: 0px;
            }
        }

        .media-body {
            h5 {
                font-size: 18px;
                min-height: 70px;
                margin: 0;

                a {
                    padding: 8px 0 5px;
                    overflow: hidden;
                    letter-spacing: -0.2px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    /* Small Devices, Tablets */
                    @media only screen and (max-width : 768px) {
                        height: 85px;
                        -webkit-line-clamp: 3;
                        margin-bottom: 10px;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.title-list-news-items {
    h3 {
        margin: 30px 0 10px;
    }

    .block-underline {
        width: 150px;
        height: 3px;
        background: $chathamsBlue;
        display: block;
        margin: 0 auto 20px;
    }
}