/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;
                height: 550px;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.marquee {
    background-color: $primaryColor;
    color: $white;
    height: 35px;

    marquee {
        line-height: 35px;
        display: flex;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.bang-gia {
    padding-top: 40px;
    padding-bottom: 20px;

    @media only screen and (min-width: 979.98px) {
        border-bottom: 1px solid $geyser;
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        padding: 20px 0;
    }

    .one {
        h3 {
            @media only screen and (max-width : 768px) {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    .two, .three, .four {
        div {
            background: $killarney;
            margin-top: 30px;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;

            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                margin-top: 15px;
                padding: 10px;
            }

            a {
                color: $white;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.marketing {
    padding-top: 30px;
    padding-bottom: 10px;

    .col-md-4 {
        margin: 20px 0;
        
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            margin: 5px 0;
        }

        .marketing-company {
            p {
                margin-bottom: 12px;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    margin-bottom: 10px;
                }
            }
        }

        .media {
            .media-left {
                span {
                    display: block;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    font-size: 3em;
    
                    i {
                        margin-right: 0;
                        color: $killarney;
                        vertical-align: top;
                    }
                }
            }
    
            .media-body {
                h2 {
                    font-size: 18px;
                    margin-bottom: 3px;
                }
    
                .marketing-container {
                    font-size: 15px;
                }
            }
        }
    }
}

.list-news-items {
    .news-item {
        margin-bottom: 30px;

        .news-item-wrapper {
            border: 1px solid $killarney;

            &:hover {
                background: $gray94;
            }

            .media-thumb {
                display: block;
                height: 195px;
                overflow: hidden;

                .img-thumbnail {
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    width: 100%;
                    transition: 0.6s ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
    
            .media-body {
                padding: 10px;

                h5 {
                    font-size: 20px;
                    min-height: 60px;
                    margin: 0;

                    @media only screen and (max-width: 767.98px) {
                        min-height: auto;
                        margin-bottom: 10px;
                    }
    
                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 26px;
                        max-height: 50px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: #0f4224;
    
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
    
                p {
                    font-size: 16px;
                    margin-bottom: 0;
                    line-height: 26px;
                }
            }
        }
    }
}

.title-list-news-items {
    h1 {
        font-size: 30px;
        margin: 30px 0 5px;
        color: $killarney;
    }

    .block-underline {
        width: 150px;
        height: 2px;
        background: $killarney;
        display: block;
        margin: 0 auto 10px;
    }

    p {
        text-align: center;
        font-style: italic;
        margin-bottom: 20px;
    }
}