/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    .carousel-inner {
        .item {
            img {
                width: 1140px;
            }
        }
    }
}

.marquee {
    background-color: $chathamsBlue;
    color: $white;
    height: 35px;

    marquee {
        line-height: 35px;
        display: flex;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.marketing {
    padding-top: 20px;
    padding-bottom: 20px;

    .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;

        .rounded-circle {
            border: 2px solid $chathamsBlue;
            width: 180px;
            height: 180px;
            border-radius: 50%;
        }

        h2 {
            font-size: 22px;
            padding: 15px 0 10px;
            margin-bottom: 0;
        }

        .btn-secondary {
            background: $chathamsBlue;
            color: $white;
            border-width: 0px;

            &:hover {
                border: none;
                text-decoration: underline;
            }
        }
    }
}

.list-news-items {
    .news-item {
        .media-thumb {
            .img-thumbnail {
                padding: 0px;
                border: none;
                border-radius: 0px;
            }
        }

        .media-body {
            h5 {
                font-size: 18px;
                min-height: 70px;
                margin: 0;

                a {
                    padding: 8px 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    /* Small Devices, Tablets */
                    @media only screen and (max-width : 768px) {
                        height: 85px;
                        -webkit-line-clamp: 3;
                        margin-bottom: 10px;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.block-underline {
    width: 150px;
    height: 3px;
    background: $chathamsBlue;
    display: block;
    margin: 0 auto 20px;
}