/* News
------------------------------------------------------------------------- */
.category-list-items {
    padding-top: 50px;

    .description {
        margin-bottom: 30px;
    }
}

.project-hot {
    margin: 60px 0 0;

    .title-list-news-items {
        h1 {
            margin: 30px 0 10px;
        }

        .block-underline {
            margin-bottom: 30px;
        }
    }

    .list-news-items {
        .bx-wrapper {
            border: none;
            max-width: 1170px !important;
            margin-bottom: 0;

            .news-item {
                margin-right: 30px;
    
                .news-item-wrapper {
                    width: 262px !important;
                }
            }
        }
    }
}

/* Post detail
------------------------------------------------------------------------- */
.news {
    h1 {
        font-size: 35px;
        line-height: 38px;
    }

    .news-container {
        ul, ol {
            padding-left: 30px;
            margin-bottom: 15px;
        }

        img {
            height: auto !important;
        }

        a {
            color: $primaryColor;
        }
    }
}

/* Tag
------------------------------------------------------------------------- */
.tags {
    display: flex;
    margin: 10px 0;
    font-size: 12px;

    ul {
        padding: 0;

        li {
            margin-bottom: 0px;
            list-style-type: none;
            display: inline-block;
            
            span {
                background-color: $mineShaft;
                padding: 5px 9px;
                color: $white;
                display: block;
                line-height: 10px;
                float: left;
                height: 20px;
            }

            a {
                display: block;
                float: left;
                border: 1px solid $gallery;
                margin-left: 4px;
                line-height: 8px;
                padding: 5px 8px;
                height: 20px;

                &:hover {
                    text-decoration: none;
                    background: $chathamsBlue;
                    color: $white;
                }
            }
        }
    }
}

/* News Share
------------------------------------------------------------------------- */
.social-share {
    margin: 20px 0 10px;
}

/* News Related
------------------------------------------------------------------------- */
.related-news {
    h3 {
        position: relative;
        border-bottom: 3px solid $mercury;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 90px;
            height: 3px;
            background: $primaryColor;
        }
    }

    .row {
        .img-thumbnail {
            border-radius: 0px;
            padding: 0px;
            border: none;
            width: 100%;
        }

        a.related-title {
            padding: 10px 0 0;
            line-height: 26px;
            font-size: 18px;
            letter-spacing: -0.2px;
            height: 90px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 10px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

/* Comment
------------------------------------------------------------------------- */
#list-comments {
    margin-top: 20px;
    margin-bottom: 20px;

    .media {
        margin-top: 10px;

        &.first-child {
            margin-top: 2px;
        }

        .media-left {
            img {
                width: 65px;
                max-width: none;
            }
        }

        .media-body {
            h5 {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 2px;
            }

            .comment-container {
                font-size: 15px;
            }

            .comment-container p {
                font-size: 14px;
                margin-bottom: 0px;
            }

            a.comment-reply-link {
                font-size: 14px;
                color: $mineShaft;
                text-decoration: underline;
            }
        }
    }
}

#respond {
    margin-top: 30px;

    .comment-reply-title {
        position: relative;
        border-bottom: 3px solid $mercury;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 90px;
            height: 3px;
            background: $primaryColor;
        }
    }

    #form-comment {
        .form-group {
            .form-control {
                border-width: 1px;

                &.error {
                    border: 1px solid $red;
                    padding: 0 15px;
                }
            }

            label.error {
                display: none !important;
            }

            .btn-primary {
                background: $chathamsBlue;
                border-width: 0px;
                padding: 10px 20px;
            }
        }
    }
}