/* News
------------------------------------------------------------------------- */
.category-list-items {
    padding-top: 50px;

    .description {
        margin-bottom: 30px;
    }
}

/* Slide project hot
------------------------------------------------------------------------- */
.project-hot {
    margin: 50px 0 0;

    @media only screen and (max-width: 767.98px) {
        margin: 30px 0 0;
    }

    .title-list-news-items {
        h1 {
            margin: 30px 0 10px;
        }

        .block-underline {
            margin-bottom: 30px;
        }
    }

    .list-news-items {
        .bx-wrapper {
            border: none;
            margin-bottom: 0;

            @media only screen and (min-width: 979.98px) {
                max-width: 1170px !important;
            }

            .bx-viewport {
                height: 100% !important;

                .news-item {
                    @media only screen and (min-width: 768px) {
                        width: initial !important;
                    }
    
                    .news-item-wrapper {
                        width: 262px !important;
    
                        @media only screen and (max-width: 767.98px) {
                            width: 100% !important;
                        }
    
                        @media (min-width: 768px) and (max-width: 979.98px) {
                            width: 220px !important;
                        }
                    }
                }
            }
        }
    }
}

/* Post detail
------------------------------------------------------------------------- */
.news {
    h1 {
        font-size: 35px;
        line-height: 38px;
    }

    .news-container {
        ul, ol {
            padding-left: 15px;
            margin-bottom: 15px;
            margin-left: 15px;

            li {
                margin-bottom: 0.3 em;
            }
        }

        img {
            height: auto !important;
        }

        a {
            color: $primaryColor;
        }

        h3 {
            font-size: 25px;
        }
    }
}

/* Tag
------------------------------------------------------------------------- */
.tags {
    display: flex;
    margin: 10px 0;
    font-size: 12px;

    ul {
        padding: 0;

        li {
            margin-bottom: 0px;
            list-style-type: none;
            display: inline-block;
            
            span {
                background-color: $mineShaft;
                padding: 5px 8px;
                color: $white;
                display: block;
                line-height: 16px;
                float: left;
                height: 25px;
            }

            a {
                display: block;
                float: left;
                border: 1px solid $gallery;
                margin-left: 4px;
                line-height: 15px;
                padding: 5px 8px;
                height: 25px;

                &:hover {
                    text-decoration: none;
                    border: 1px solid $primaryColor;
                    background: $primaryColor;
                    color: $white;
                }
            }
        }
    }
}

/* News Share
------------------------------------------------------------------------- */
.social-share {
    margin: 20px 0 10px;
}

/* News Related
------------------------------------------------------------------------- */
.related-news {
    h3 {
        position: relative;
        border-bottom: 3px solid $mercury;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 90px;
            height: 3px;
            background: $primaryColor;
        }
    }

    .row {
        .related-wrapper {
            border: 1px solid $killarney;
            margin-bottom: 30px;

            .related-img {
                display: block;
                overflow: hidden;

                .img-thumbnail {
                    border-radius: 0px;
                    padding: 0px;
                    border: none;
                    width: 100%;
                    transition: 0.6s ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
    
            a.related-title {
                padding: 10px 8px;
                font-size: 16px;
                line-height: 26px;
                height: 67px;
                max-height: 67px;
                color: #0f4224;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Comment
------------------------------------------------------------------------- */
#list-comments {
    margin-top: 20px;
    margin-bottom: 20px;

    & > h4 {
        font-size: 26px;
        position: relative;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 90px;
            height: 3px;
            background: $primaryColor;
        }
    }

    .media-list {
        .media {
            border-top: 1px dotted $gallery;
            margin-top: 10px;
            padding-top: 10px;

            &.first {
                border-top: none;
            }
    
            .media-left {
                @media only screen and (max-width: 767.98px) {
                    margin-right: 5px;
                }
    
                img {
                    width: 65px;
                    max-width: none;
    
                    @media only screen and (max-width: 767.98px) {
                        width: 50px;
                    }
                }
            }
    
            .media-body {
                h5 {
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 2px;
                }
    
                .comment-container {
                    font-size: 15px;
                }
    
                .comment-container p {
                    font-size: 14px;
                    margin-bottom: 0px;
                }
    
                a.comment-reply-link {
                    font-size: 14px;
                    color: $mineShaft;
                    text-decoration: underline;
                }
            }
        }
    }
}

#respond {
    margin-top: 30px;

    .comment-reply-title {
        position: relative;
        border-bottom: 3px solid $mercury;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 90px;
            height: 3px;
            background: $primaryColor;
        }
    }

    #form-comment {
        .form-group {
            .form-control,
            input {
                border-width: 1px;
                height: 40px;
                padding: 5px 15px;

                &.error {
                    border: 1px solid $red;
                    padding: 5px 15px;
                }
            }

            textarea.form-control {
                height: 100px;
            }

            label.error {
                display: none !important;
            }

            .btn-primary {
                background: $primaryColor;
                border-width: 0px;
                padding: 10px 20px;
            }
        }
    }
}