<!-- Begin footer -->
<footer class="row">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-4">
                <h3 class="text-uppercase">Về chúng tôi</h3>
                <ul>
                    <li>
                        <a href="http://suanhaminhduy.com/gioi-thieu">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/tu-van-mien-phi-10" title="Tư Vấn Miễn Phí">Tư Vấn Miễn Phí</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-xay-dung-11" title="Báo giá xây dựng">Báo giá xây dựng</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-nhan-cong-12" title="Báo Giá Nhân Công">Báo Giá Nhân Công</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-son-13" title="Báo Giá Sơn">Báo Giá Sơn</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-thi-cong-14" title="Báo Giá Thi Công">Báo Giá Thi Công</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-chong-dot-chong-tham-15" title="Báo giá chống dột - chống thấm">Báo giá chống dột - chống thấm</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/lien-he">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="text-uppercase">Dịch vụ của chúng tôi</h3>
                <ul>
                    <li>
                        <a href="http://suanhaminhduy.com/gioi-thieu">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/tu-van-mien-phi-10" title="Tư Vấn Miễn Phí">Tư Vấn Miễn Phí</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-xay-dung-11" title="Báo giá xây dựng">Báo giá xây dựng</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-nhan-cong-12" title="Báo Giá Nhân Công">Báo Giá Nhân Công</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-son-13" title="Báo Giá Sơn">Báo Giá Sơn</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-thi-cong-14" title="Báo Giá Thi Công">Báo Giá Thi Công</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/bao-gia-chong-dot-chong-tham-15" title="Báo giá chống dột - chống thấm">Báo giá chống dột - chống thấm</a>
                    </li>
                    <li>
                        <a href="http://suanhaminhduy.com/lien-he">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="text-uppercase">Sửa nhà Minh Duy</h3>
                <ul class="footer-company">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>108/40/10 Lê Văn Lương, KP 4, P. Tân Hưng, Quận 7, TP.HCM</span>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span style="font-weight: bold">0982.96.93.79</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>
                        <span>xaydungminhduy@gmail.com</span>
                    </li>
                    <li>
                        <i class="fa fa-internet-explorer"></i>
                        <span>www.suanhaminhduy.com</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12 text-center">
                <p>Copyright © 2018 <a href="http://suanhaminhduy.com">www.suanhaminhduy.com</a>, all rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->