<!-- Begin header -->
<div class="row header">
    <h1>
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('assets/images/header.jpg') }}" alt="{{ get_setting('siteName') }}" />
        </a>
    </h1>
</div>
<!-- End header -->