<!-- Begin header -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('assets/images/header.png') }}" alt="{{ get_setting('siteName') }}" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End header -->