<!-- Begin header -->
<div class="row header">
    <div class="col-12">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('assets/images/header.jpg') }}" alt="{{ get_setting('siteName') }}" />
        </a>
    </div>
</div>
<!-- End header -->