<div class="td-scroll-up go-to-top td-scroll-up-visible">
    <i class="fa fa-chevron-up"></i>
</div>
<div class="hotline">
    <a href="tel:0982969379"> 
        <i class="fa fa-phone"></i><span>0982.96.93.79</span>
    </a>
</div>