<div class="td-scroll-up go-to-top td-scroll-up-visible hidden-xs">
    <i class="fa fa-chevron-up"></i>
</div>
<div class="hotline hidden-xs hidden">
    <a href="tel:0982969379"> 
        <i class="fa fa-phone"></i><span>0982.96.93.79</span>
    </a>
</div>
<aside class="floating container hidden-sm hidden-md hidden-lg">
    <section class="row inside cover">
        <a class="call-now col-xs-6" href="tel:0982969379" title="Hotline: 0982969379">
            <div>
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <span>Hotline tư vấn</span>
                <strong>0982.96.93.79</strong>
            </div>
        </a>
        <a class="chat-us col-xs-6" href="{{ path('contact') }}">
            <div>
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <span>Gửi yêu cầu</span>
                <strong>báo giá</strong>
            </div>
        </a>
    </section>
</aside>