<div class="marquee">
    <div class="container">
        <div class="row marquee">
            <div class="col-md-12">
                <marquee scrollamount="6">{{ get_setting('marqueeHomepage')|raw }}</marquee>
            </div>
        </div>
    </div>
</div>