<div class="col-md-3">
	<div class="row">
	    {{ include('widgets/recentNews.html.twig') }}
	    {{ include('widgets/hotNews.html.twig') }}
	    {{ include('widgets/listNewsByCategory.html.twig') }}
    </div>
</div>