<div class="col-lg-4 d-none hidden-xs hidden-sm" id="sidebar">
    <div class="row">
        <div class="col-md-12">
            {{ include('news/formSearch.html.twig') }}
            {{ include('widgets/recentNews.html.twig') }}

            <div class="list-group">
                <h3 class="list-group-item list-group-item-action active text-uppercase">
                    Kinh nghiệm xây dựng
                </h3>
                <iframe width="360" height="200" src="https://www.youtube.com/embed/GcJYYp4yXPs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
            {{ include('widgets/hotNews.html.twig') }}
            {{ include('layout/fanpage.html.twig') }}
        </div>
    </div>
</div>