<div class="col-lg-4 d-none hidden-xs hidden-sm" id="sidebar">
    <div class="row">
        <div class="col-md-12">
            {{ include('news/formSearch.html.twig') }}
            {{ include('widgets/recentNews.html.twig') }}
            {{ include('widgets/hotNews.html.twig') }}
            {{ include('layout/fanpage.html.twig') }}
        </div>
    </div>
</div>