{% if showSlide is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('assets/images/banner/banner-01.jpg') }}" alt="">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2>Xây Dựng Xuyên Việt</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'thi-cong-xay-dung-quan-tra-sua-ten-ren-s-175-le-van-viet' }) }}">
                    <img src="{{ asset('assets/images/banner/banner-02.jpg') }}" alt="">
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>Xây Dựng Xuyên Việt</h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}