@import "~bootswatch/flatly/variables";
@import "~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss";
@import "bootstrap-tagsinput.scss";

/* Page: 'Backend post index'
   ------------------------------------------------------------------------- */

body#admin_post_index .item-actions {
    white-space: nowrap
}

body#admin_post_index .item-actions a.btn+a.btn {
    margin-left: 4px
}

/* Page: 'Backend post show'
     ------------------------------------------------------------------------- */

body#admin_post_show .post-tags .label-default {
    background-color: #e9ecec;
    color: #6D8283;
    font-size: 16px;
    margin-right: 10px;
    padding: .4em 1em .5em;
}

body#admin_post_show .post-tags .label-default i {
    color: #95A6A7;
}

/*===========================================================================
 * Listing page
 ============================================================================*/

.table-list .images-container {
    padding: 5px;
    border: 1px solid #cccccc;
    background: #ffffff;
}

.table-list .item-actions .btn {
    padding: 6px 0;
}

.table-list .item-actions form button.btn-icon-delete {
    background: none;
    padding: 3px 0px;
}

.table-list .item-actions .mr-left {
    float: left;
}

.table-list .item-actions .btn-icon-delete {
    padding: 3px 7px;
    border-radius: 0;
    margin-left: 3px;
}

/*===========================================================================
   * Enable button toggle
   ============================================================================*/

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}