@import "~bootswatch/flatly/variables";
@import "~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss";
@import "bootstrap-tagsinput.scss";

/*===========================================================================
 * Listing page
 ============================================================================*/
.table {
    td .images-container {
        img {
            border: 2px solid #e2e2e2;
        }
    }

    td .item-actions {
        .btn-edit {
            padding: 5px;
        }

        #delete-form {
            display: inline-block;

            button {
                border: none;
                background: none;
                padding: 0;
            }
        }
    }
}

/*===========================================================================
 * 
 ============================================================================*/