<div class="breadcrumbs {% if type is defined %}type-category{% endif %}">
    <div class="{% if type is defined %}container{% endif %}">
        <div class="row">
            <div class="col-md-12">
                {# Breadcrum #}
                {{ wo_render_breadcrumbs() }}

                {% if category is defined and category is not null %}
                    <h1 class="title">{{ category.getName() }}</h1>

                    <div class="description">
                        <p>{{ category.getDescription()|raw }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>