<div class="bang-gia">
    <div class="marquee">
        <div class="container">
            <marquee scrollamount="5">{{ get_setting('marqueeHomepage')|raw }}</marquee>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="two col-xs-12 col-sm-4 col-md-4">
                <div>
                    <i class="fas fa-building"></i>
                    <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" title="Bảng giá xây nhà trọn gói">
                        <span>Bảng giá xây nhà trọn gói</span>
                    </a>
                    <p><span>Miễn phí</span> giấy phép xây dựng, thiết kế kiến trúc</p>
                </div>
            </div>
            <div class="three col-xs-12 col-sm-4 col-md-4">
                <div>
                    <i class="fas fa-cogs"></i>
                    <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" title="Bảng giá sửa nhà trọn gói">
                        <span>Bảng giá sửa nhà trọn gói</span>
                    </a>
                    <p><span>Miễn phí</span> thiết kế kiến trúc</p>
                </div>
            </div>
            <div class="four col-xs-12 col-sm-4 col-md-4">
                <div>
                    <i class="fas fa-award"></i>
                    <a href="{{ path('news_show', {'slug': 'bang-gia-xay-dung-nha-phan-tho' }) }}" title="Bảng giá xây nhà phần thô">
                        <span>Bảng giá xây nhà phần thô</span>
                    </a>
                    <p><span>Miễn phí</span> thiết kế kiến trúc</p>
                </div>
            </div>
        </div>
    </div>
</div>