<div class="row bang-gia">
    <div class="one col-12 col-md-3 col-lg-3">
        <h3>CÔNG TY TNHH TƯ VẤN THIẾT KẾ XÂY DỰNG MINH DUY</h3>
    </div>
    <div class="two col-12 col-md-3 col-lg-3">
        <div>
            <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" title="Báo giá xây nhà trọn gói">Báo giá xây nhà trọn gói</a>
        </div>
    </div>
    <div class="three col-12 col-md-3 col-lg-3">
        <div>
            <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" title="Báo giá sửa nhà trọn gói">Báo giá sửa nhà trọn gói</a>
        </div>
    </div>
    <div class="four col-12 col-md-3 col-lg-3">
        <div>
            <a href="{{ path('news_show', {'slug': 'bao-gia-thiet-ke-nha-pho' }) }}" title="Báo giá thiết kế nhà phố">Báo giá thiết kế nhà phố</a>
        </div>
    </div>
</div>