{% if tags|length > 0 %}
<div class="tags">
	<ul>
		<li class="d-inline"><span>{{'Tags'|trans}}</span></li>
		{% for tag in tags %}
		<li class="d-inline"><a href="{{ path('tag', {'slug': tag.getUrl() }) }}">{{tag.getName()}}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="clearfix"></div>
{% endif %}