{% if post.getTags()|length > 0 %}
    <div class="tags">
        <ul>
            <li class="label-tags text-uppercase"><span><i class="fa fa-tags"></i></span></li>
            {% for tag in post.getTags() %}
                <li><a href="{{ path('tags', {'slug': tag.getUrl() }) }}" title="{{ tag.getName() }}">{{ tag.getName() }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
{% endif %}